#####
# Configuration for direnv (https://github.com/direnv/direnv)
#
# This file runs every time you have a zsh shell in this directory, so keep it light
#####

# Until we're on direnv 2.32+, we have a custom implementation of
# "dotenv_if_exists" which will check if we have a .env
# file in the current directory, and if so, load it
try_load_dotenv() {
	local path=$PWD/.env

	if ! [[ -f $path ]]; then
		return
	else
		watch_file "$path"
		dotenv "${path}"
	fi
}

try_load_dotenv
